<a href="https://colab.research.google.com/github/LuchoValr/Pruebas-codigos/blob/main/Theeffect.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install linearmodels
import linearmodels as lm

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting linearmodels
  Downloading linearmodels-4.25-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.5 MB)
     |████████████████████████████████| 1.5 MB 4.1 MB/s
Collecting pyhdfe>=0.1
  Downloading pyhdfe-0.1.1-py3-none-any.whl (18 kB)
Collecting formulaic
  Downloading formulaic-0.5.2-py3-none-any.whl (77 kB)
     |████████████████████████████████| 77 kB 6.9 MB/s
Requirement already satisfied: Cython>=0.29.21 in /usr/local/lib/python3.7/dist-packages (from linearmodels) (0.29.32)
Collecting mypy-extensions>=0.4
  Downloading mypy_extensions-0.4.3-py2.py3-none-any.whl (4.5 kB)
Requirement already satisfied: scipy>=1.2 in /usr/local/lib/python3.7/dist-packages (from linearmodels) (1.7.3)
Requirement already satisfied: patsy in /usr/local/lib/python3.7/dist-packages (from linearmodels) (0.5.3)
Requirement already satisfied: statsmodels>=0.11 in /usr/local/lib/python3.7/dist-packages (from linearmodels) (0.12.2)
Collecting property-cached>=1.6.3
  Downloading property_cached-1.6.4-py2.py3-none-any.whl (7.8 kB)
Requirement already satisfied: numpy>=1.16 in /usr/local/lib/python3.7/dist-packages (from linearmodels) (1.21.6)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from linearmodels) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->linearmodels) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->linearmodels) (2022.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->linearmodels) (1.15.0)
Requirement already satisfied: wrapt>=1.0 in /usr/local/lib/python3.7/dist-packages (from formulaic->linearmodels) (1.14.1)
Collecting graphlib-backport>=1.0.0
  Downloading graphlib_backport-1.0.3-py3-none-any.whl (5.1 kB)
Requirement already satisfied: astor>=0.8 in /usr/local/lib/python3.7/dist-packages (from formulaic->linearmodels) (0.8.1)
Requirement already satisfied: cached-property>=1.3.0 in /usr/local/lib/python3.7/dist-packages (from formulaic->linearmodels) (1.5.2)
Collecting typing-extensions>=4.2.0
  Downloading typing_extensions-4.4.0-py3-none-any.whl (26 kB)
Collecting interface-meta>=1.2.0
  Downloading interface_meta-1.3.0-py3-none-any.whl (14 kB)
Installing collected packages: typing-extensions, interface-meta, graphlib-backport, pyhdfe, property-cached, mypy-extensions, formulaic, linearmodels
  Attempting uninstall: typing-extensions
    Found existing installation: typing-extensions 4.1.1
    Uninstalling typing-extensions-4.1.1:
      Successfully uninstalled typing-extensions-4.1.1
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
thinc 8.1.5 requires typing-extensions<4.2.0,>=3.7.4.1; python_version < "3.8", but you have typing-extensions 4.4.0 which is incompatible.
spacy 3.4.2 requires typing-extensions<4.2.0,>=3.7.4; python_version < "3.8", but you have typing-extensions 4.4.0 which is incompatible.
confection 0.0.3 requires typing-extensions<4.2.0,>=3.7.4.1; python_version < "3.8", but you have typing-extensions 4.4.0 which is incompatible.
Successfully installed formulaic-0.5.2 graphlib-backport-1.0.3 interface-meta-1.3.0 linearmodels-4.25 mypy-extensions-0.4.3 property-cached-1.6.4 pyhdfe-0.1.1 typing-extensions-4.4.0

In [ ]:
!pip install causaldata
from causaldata import organ_donations

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting causaldata
  Downloading causaldata-0.1.3.tar.gz (2.6 MB)
     |████████████████████████████████| 2.6 MB 4.1 MB/s
Requirement already satisfied: statsmodels in /usr/local/lib/python3.7/dist-packages (from causaldata) (0.12.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from causaldata) (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas->causaldata) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->causaldata) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->causaldata) (2022.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->causaldata) (1.15.0)
Requirement already satisfied: scipy>=1.1 in /usr/local/lib/python3.7/dist-packages (from statsmodels->causaldata) (1.7.3)
Requirement already satisfied: patsy>=0.5 in /usr/local/lib/python3.7/dist-packages (from statsmodels->causaldata) (0.5.3)
Building wheels for collected packages: causaldata
  Building wheel for causaldata (setup.py) ... done
  Created wheel for causaldata: filename=causaldata-0.1.3-py3-none-any.whl size=2645627 sha256=4364785e1dd5f3afaecf206df07adb36c9f4af4b3b563e71ce6ab67f761e65af
  Stored in directory: /root/.cache/pip/wheels/ec/33/83/c92016fcfb4ded0052ff5c64a395d08dafd2de8943ad248460
Successfully built causaldata
Installing collected packages: causaldata
Successfully installed causaldata-0.1.3

In [ ]:
od=organ_donations.load_pandas().data
od

       State Quarter    Rate  Quarter_Num
0     Alaska  Q42010  0.7500            1
1     Alaska  Q12011  0.7700            2
2     Alaska  Q22011  0.7700            3
3     Alaska  Q32011  0.7800            4
4     Alaska  Q42011  0.7800            5
..       ...     ...     ...          ...
157  Wyoming  Q12011  0.5946            2
158  Wyoming  Q22011  0.5937            3
159  Wyoming  Q32011  0.5911            4
160  Wyoming  Q42011  0.5854            5
161  Wyoming  Q12012  0.5881            6

[162 rows x 4 columns]

In [ ]:
od['California']=od['State']=='California'

In [ ]:
od['After']=od['Quarter_Num']>3

In [ ]:
od['Treated']=1*(od['California']&od['After'])

In [ ]:
od

       State Quarter    Rate  Quarter_Num  California  After  Treated
0     Alaska  Q42010  0.7500            1       False  False        0
1     Alaska  Q12011  0.7700            2       False  False        0
2     Alaska  Q22011  0.7700            3       False  False        0
3     Alaska  Q32011  0.7800            4       False   True        0
4     Alaska  Q42011  0.7800            5       False   True        0
..       ...     ...     ...          ...         ...    ...      ...
157  Wyoming  Q12011  0.5946            2       False  False        0
158  Wyoming  Q22011  0.5937            3       False  False        0
159  Wyoming  Q32011  0.5911            4       False   True        0
160  Wyoming  Q42011  0.5854            5       False   True        0
161  Wyoming  Q12012  0.5881            6       False   True        0

[162 rows x 7 columns]